.nav-wrapper{
    background:#fff;
}
.nav-wrapper a span {
    color:#4285f4; 
    vertical-align: top;
    font-weight: 300;
    font-family: Roboto;
     

}
.nav-content{ 
    background:#4285f4;
}
.brand-logo img{
    height:65px; 
}

.zoom { 
    transition: transform .2s;  
} 
.zoom:hover {
    transform: scale(1.2);
}
.tab-content-banner{
    margin-top:5%;
}

.canvasjs-chart-credit{
    display: none;
}

#myChart{
    height:400px;
    width: auto;
}
.weather-today{
    padding:0 2%;
}
.weather-today h3{
    color:#888; 
}
.weather-today h5{
    color:#888;
}

.weather-today .active{
    color:#4283fc; 
}
/*.active::before{*/
    /*content: "\00b0";*/
/*}*/
#temp-options span:nth-child(n+2){
    display: inline-block;
    width: 80px;
}
#temp-options span:nth-child(n+2):hover{
    color:#888;
}
#temperature{
    display: inline-block;
    width:150px;
}
 
#temp-options span{
    cursor: pointer;
}


 

 