{% extends "base.html" %}{% load staticfiles %}
{% block title %} Home{% endblock %}
{% block content %}

  <nav class="nav-extended">
    <div class="nav-wrapper">
 
        <a href="#" class="brand-logo">
            <img class="zoom"src="{% static "images/cloud.gif" %}"/>
            <span>Weather Forecast</span>
        </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
 
    </div>

      
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#test1">Today</a></li>
        <li class="tab"><a  href="#test2">Week</a></li>
        
        <li class="tab"><a href="#test4">Get updates in morning on your phone number</a></li>
      </ul>
    </div>
  </nav>

  <div id="test1" class="col s12 tab-content-banner">
    <div class="container ">
                <div class="card">
                    <div class="weather-today">
                        <div class="row">
                            <div class="col s12 ">
                                <h3 id="place"></h3>
                                <h5 id="datetime"></h5>
                                <h5 id="weather-detail"></h5>
                                <h1 id="temp-options"><span id="temperature"></span><span onClick="k2c()" id="celcius">&deg;C</span> <span id="fahrenheit" onClick="k2f()">&deg;F</span> <span onClick="k2k()" id="kelvin">&deg;K</span></h1>
                                <h5>Humidity : <span id="humidity"></span>, Wind : <span id="wind"></span>, Pressure : <span id="pressure"></span> </h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="card">  
                    <canvas id="myChart"></canvas> 
                </div>

         
    </div>


  </div>
  <div id="test2" class="col s12 tab-content-banner">



  </div>
  
  <div id="test4" class="col s12 tab-content-banner">
    

       
  </div>



{% endblock content %}



{% block javascript %} 
     
     
    <script>

    function getTodaysWeather(){

    $.getJSON('//freegeoip.net/json/?callback=?', function(remote) {
        console.log(remote);
      $.get("http://api.openweathermap.org/data/2.5/weather?lat="+remote["latitude"]+"&lon="+remote["longitude"]+"&APPID=f2f33dbceea19eef373a3972938b7cb1", function(data, status) {
          var date = new Date(); //  sets the date to the epoch

          $("#place").text(remote["city"]+", "+remote["region_code"]+", "+remote["country_name"]);
          $("#datetime").text(date);
           
          $("#weather-detail").text(capitalizeFirstLetter(data["weather"][0]["description"]));
          $("#temperature").text(Math.round(data["main"]["temp"]-273.15));
          $("#celcius").addClass("active");
          localStorage.setItem("kelvin",data["main"]["temp"]);
           
           
          $("#humidity").text(data["main"]["humidity"]+"%");
          $("#wind").text(data["wind"]["speed"]+" m/s");
          $("#pressure").text(data["main"]["pressure"]+" hpa");


          
       }
      );
    });

    var hostname = document.origin+"{% url "check:weather_today" %}";
        console.log("calling the server for weather update of today");
        $.get(hostname, function(data, status){
            console.log(data)
            console.log(status)
            if (status = "success"){
                var lineChartData = {
                labels: data["label"],
                datasets: [{
                    label: "Wind Speed",
                    borderColor: window.chartColors.blue,
                    backgroundColor: window.chartColors.blue,
                    fill: false,
                    data: data["wind"],
                    yAxisID: "y-axis-1",
                }, {
                    label: "Temperature",
                    borderColor: window.chartColors.orange,
                    backgroundColor: window.chartColors.orange,
                    fill: false,
                    data: data["temp"],
                    yAxisID: "y-axis-2"
                },
                    {
                    label: "Humidity",
                    borderColor: window.chartColors.grey,
                    backgroundColor: window.chartColors.grey,
                    fill: false,
                    data: data["humidity"],
                    yAxisID: "y-axis-3"
                }

                ]
            };
                
                var ctx = document.getElementById("myChart").getContext("2d");
                window.myLine = Chart.Line(ctx, {
                    data: lineChartData,
                    options: {
                        responsive: true,
                        hoverMode: 'index',
                        stacked: false,
                        title:{
                            display: true,
                            text:'Weather forecast '
                        },
                        scales: {
                            yAxes: [{
                                type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: "left",
                                id: "y-axis-1",
                            }, {
                                type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: "right",
                                id: "y-axis-2",

                                // grid line settings
                                gridLines: {
                                    drawOnChartArea: false, // only want the grid lines for one axis to show up
                                },
                            },
                            {
                                type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: "right",
                                id: "y-axis-3",

                                // grid line settings
                                gridLines: {
                                    drawOnChartArea: false, // only want the grid lines for one axis to show up
                                },
                            }],
                        }
                    }
                });

            }else{
                alert("something went wrong");
            }





     // end of chart js instance
     });

 }
 
 getTodaysWeather()
function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
 }
function k2c(){ 
    $("#temperature").text(Math.round(localStorage.getItem("kelvin")-273.15)).find("span");
    $("#temp-options").find("span").removeClass("active");
    $("#celcius").addClass("active");
}
function k2f(){ 
    $("#temperature").text(Math.round((localStorage.getItem("kelvin")*5/9)-273.15));
    $("#temp-options").find("span").removeClass("active");
    $("#fahrenheit").addClass("active");
}
function k2k(){
    $("#temperature").text(Math.round(localStorage.getItem("kelvin"))).addClass("active");
    $("#temp-options").find("span").removeClass("active");
    $("#kelvin").addClass("active");
}
    </script>

{% endblock javascript %} 