{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Girl - {% block title %} {% endblock title%}</title>
    <link rel="stylesheet" href="{% static "materialize/css/materialize.min.css"%}" />
    <link rel="stylesheet" href="{% static "css/style.css"%}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>
{% block content %}
    <div class=""
{% endblock content %}
<script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
{% block javascript %}
{% endblock javascript %}
</body>
</html>